.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F5EEDC;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #e9b3b2de;
  font-size: 7rem;
  color: #4F091D;
}

p {
  font-size: 2rem;
  color: #4F091D;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  font-size: 1.3rem;
  color: #4F091D;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  
}
